@charset "UTF-8";
@font-face {
  font-family: 'din1451alt';
  src: url('../css/din1451alt.ttf') format('truetype'); }

.btn {
  background-color: #540023;
  color: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1em;
  text-decoration: none;
  transition: .2s;
  border: 1px solid rgba(255, 255, 255, 0.3); }
  .btn:hover {
    background-color: #870038;
    box-shadow: 0 2px 5px #333; }

* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif; }

body {
  color: #540023;
  font-size: 110%;
  background: rgba(84, 0, 35, 0.1) url(../images/content_bg.jpg) 0 0 repeat; }

header {
  background: url(../images/main_bg.svg) center no-repeat;
  background-size: cover;
  text-align: center;
  padding: 4em 0;
  color: white;
  font-family: serif; }
  header * {
    margin: 0; }
  header h1 img {
    width: 150px;
    height: auto; }
  header .catch_copy {
    font-size: 240%;
    margin-bottom: 1em;
    margin-bottom: 1rem; }
  header .date_place {
    font-size: 120%; }

h1, h2 {
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif; }

header p {
  margin: 0;
  font-size: 200%; }

.gnav {
  position: fixed;
  top: 2em;
  right: 2em;
  text-align: left; }
  .gnav ul, .gnav li {
    margin: 0;
    padding: 0; }
  .gnav.menu_open ul {
    opacity: 1;
    visibility: visible; }
  .gnav ul {
    visibility: hidden;
    transition: .2s;
    position: absolute;
    opacity: 0;
    top: 2.5em;
    right: 0;
    width: 250px;
    list-style-type: none;
    border-bottom: none; }
    .gnav ul a {
      display: block;
      background-color: #540023;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      padding: .7em;
      text-decoration: none;
      color: white;
      font-size: 85%;
      transition: .2s; }
      .gnav ul a:hover {
        background-color: rgba(255, 255, 255, 0.9);
        color: #540023; }
    .gnav ul::before {
      position: absolute;
      top: -15px;
      right: 14px;
      content: "";
      border: 7px solid transparent;
      border-bottom: 7px solid #540023; }
  .gnav #btn_menu {
    position: absolute;
    right: 0;
    cursor: pointer;
    padding: 8px 14px;
    transition: .2s;
    background-color: #540023;
    border-radius: 3px; }
    .gnav #btn_menu:hover {
      background-color: rgba(255, 255, 255, 0.1);
      color: #540023; }

.box {
  width: 960px;
  margin: auto; }

.contents > section {
  margin: 1em 0;
  overflow: auto;
  clear: both; }

.summary-detail {
  display: -webkit-flex;
  display: -ms-flex;
  display: -ms-flexbox;
  display: flex; }

#map {
  width: 60%;
  height: 468px; }

.countbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40%;
  margin-left: 1em;
  background-color: #540023;
  color: white;
  padding: 2em;
  text-align: center; }
  .countbox p, .countbox dl, .countbox dd, .countbox dt {
    margin: 0;
    padding: 0; }
  .countbox dl:last-of-type {
    margin-bottom: 1.5em; }
  .countbox dt {
    font-weight: bold; }
  .countbox i.mappin {
    vertical-align: middle;
    display: inline-block; }
    .countbox i.mappin img {
      width: .8em; }
  .countbox i {
    margin-right: .5em;
    font-size: 1.4em;
    line-height: 1; }
  .countbox dd {
    font-family: 'din1451alt';
    font-size: 4em;
    letter-spacing: .05em;
    margin-bottom: .2em;
    line-height: 1; }
  .countbox a {
    margin-bottom: .5em; }

#what figure {
  float: left;
  margin: 0 40px; }
  #what figure img {
    width: 190px;
    height: auto; }

#how-to-join .how_inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  #how-to-join .how_inner > section {
    width: 50%; }
    #how-to-join .how_inner > section:first-of-type {
      border-right: 1px dashed #ccc;
      padding-right: 1rem; }
    #how-to-join .how_inner > section:last-of-type {
      padding-left: 1rem; }
#how-to-join h2 {
  font-size: 90%; }
#how-to-join article {
  font-size: 80%; }

#event > section {
  font-size: 80%; }
#event section p {
  margin-top: 0; }
#event .event-title {
  font-weight: bold;
  clear: both; }
#event ul, #event dt, #event dd, #event dl {
  margin: 0;
  padding: 0;
  list-style-type: none; }
#event li {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ddd;
  padding: 1em;
  clear: both;
  overflow: hidden;
  margin-bottom: .5em; }
  #event li > a {
    float: left;
    width: 20%; }
    #event li > a img {
      width: 100%; }
  #event li .inner-block {
    float: right;
    width: 80%;
    padding: 0 0 1em 1em; }
    #event li .inner-block dl {
      overflow: hidden;
      margin-bottom: 1em; }
    #event li .inner-block dt, #event li .inner-block dd {
      float: left; }
    #event li .inner-block dt {
      margin-right: 0.4em;
      clear: left; }
#event .location {
  display: none; }
#event .region h2 {
  clear: both; }

.host ul, .cooperation ul, .staff ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .host ul li, .cooperation ul li, .staff ul li {
    width: 200px;
    display: inline-block; }
  .host ul img, .cooperation ul img, .staff ul img {
    width: 100%; }

.cooperation .sponsor-logo {
  width: 160px; }

.staff ul li {
  width: auto;
  text-align: center;
  margin-right: 2em;
  min-width: 96px;
  margin-bottom: 8px; }
  .staff ul li img {
    width: 60px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 2px 2px #999;
    margin: auto auto 4px; }
  .staff ul li * {
    display: block; }
  .staff ul li span {
    font-size: 70%;
    font-weight: bold; }

footer {
  background-color: #540023;
  padding: 2em;
  color: #fff;
  margin: 2em 0 0;
  text-align: center; }
  footer small {
    line-height: 1; }
    footer small img {
      vertical-align: middle;
      width: 20px;
      margin-right: 10px; }

@media all and (max-width: 600px) {
  img {
    max-width: 100%;
    height: auto; }
  main {
    padding: 1em; }
  h1 {
    font-size: 1.2em; }
  .box h1 {
    border-bottom: 1px solid #540023; }
  p {
    font-size: 90%; }
  .entry-button-wrapper {
    font-size: 90%; }
  header {
    padding: 1.4em 4px; }
    header h1 img {
      width: 100px; }
    header h2 img {
      width: 80%; }
    header .catch_copy {
      font-size: 140%; }
    header .date_place {
      font-size: 100%; }
  .box {
    width: 100%; }
    .box #map {
      display: none; }
    .box .countbox {
      width: 95%;
      margin: 0 auto;
      padding: 24px 16px 16px; }
      .box .countbox #total-events, .box .countbox #total-atendees {
        font-size: 200%;
        margin: 0.1em 0; }
      .box .countbox dl {
        margin-bottom: 1em; }
  .gnav {
    top: 6px;
    right: 6px; }
  #what figure {
    margin: 6px 16px; }
    #what figure img {
      width: 80px; }
  #how-to-join .how_inner {
    display: block; }
    #how-to-join .how_inner > section {
      width: auto;
      background-color: rgba(200, 200, 200, 0.2);
      border: 1px dashed #ccc;
      padding: 1em;
      margin-bottom: .5em; }
      #how-to-join .how_inner > section h1 {
        margin-top: 0;
        border: none; }
      #how-to-join .how_inner > section ul {
        padding-left: 1.4em; }
  #event .event-list .event > a {
    float: left;
    width: 30%;
    margin-right: 1em; }
  #event .event-list .event .inner-block {
    float: none;
    width: 100%;
    padding: 0; }
    #event .event-list .event .inner-block .event-summary {
      font-size: 90%; }
      #event .event-list .event .inner-block .event-summary dt, #event .event-list .event .inner-block .event-summary dd {
        display: inline;
        float: none;
        margin: 0; }
      #event .event-list .event .inner-block .event-summary dt::before {
        content: ' | '; }
      #event .event-list .event .inner-block .event-summary dt:first-child::before {
        content: ''; }
  #staff_list .staff-list li {
    width: 30%;
    min-width: 0;
    margin: 0 0 0.6em 0; }
    #staff_list .staff-list li span {
      font-size: 60%; } }
