@charset UTF-8;
/* =========================================== */
/* フォント定義 fontplus */
@font-face {
    font-family: 'F+UD-筑紫明朝 E';
    src: url('./7cbfb6fe122f7af198ee006c8e4a12d62778d911') format('woff'),
         url('./d2feca42694fa19caba2e3f6c52bc108a73c3145') format('opentype'),
         url('./54c2fca53f2ba148b81403230d206494159fce6a') format('truetype'),
         url('./e0cb8acaa993848fc9ec64aea178cbf28c2b83dd#FontPlus') format('svg');
    src: url('./03199dcbf77dcf09b6777d558d296f000f9880bd')\9;
}
@font-face {
    font-family: 'FOT-ニューロダン Pro B';
    src: url('./415d885c446869d5dd35c1696c39c515a3b5a36e') format('woff'),
         url('./04fdb79e4e8d2062bfc97eff0665326acadf7f2c') format('opentype'),
         url('./7cdd06aaafb57f49870e8f1799eee604292b552c') format('truetype'),
         url('./176e2ab14c61dc8fdfc1a13438c76605bfa43b89#FontPlus') format('svg');
    src: url('./8a8341e76189f7cd28c4db86bb6fe52cecd4c07b')\9;
}
@font-face {
    font-family: 'I-OTF-UD新聞明朝Pro Mp';
    src: url('./532d8a8d2c5cdac64b3eab494c4fd4bfc6cc9603') format('woff'),
         url('./ebc7ca97e02451f7fa21161fcc01ac6a1bc8f34a') format('opentype'),
         url('./08a9ad556ea7bc940417cf7fe0bcf3587493673b') format('truetype'),
         url('./e87213428dcdcb7f865400321224036ccb3af6d3#FontPlus') format('svg');
    src: url('./593fe56d342c26733139d6507e20e37efd892513')\9;
}
/* =========================================== */
