@charset UTF-8;
/* =========================================== */
/* フォント定義 fontplus */
@font-face {
    font-family: 'F+UD-筑紫明朝 E';
    src: url('./ca3239a0d2c3d371f38a561084509a62ff2adc1d') format('woff'),
         url('./5836e34527915200545d4f2466d8dc4f9c70a4c7') format('opentype'),
         url('./0a56f67fd6042fc2db8e5140f2ff8047ad88d4e4') format('truetype'),
         url('./ce5a2f03d92ae7b7e481048876d5375c2b9f8a44#FontPlus') format('svg');
    src: url('./599b8aec4cc98439d0987f20c445153b1d214e77')\9;
}
@font-face {
    font-family: 'FOT-ニューロダン Pro B';
    src: url('./caa5f208595951935b99147582bd0cefa7cba4a0') format('woff'),
         url('./e2d478e434149d3829526805f1d056a84f321c36') format('opentype'),
         url('./d3595a9875011cd70319c984581edb1d041713d7') format('truetype'),
         url('./2709d1ad2079fd63ae4495d71c3619ccaf43be4c#FontPlus') format('svg');
    src: url('./43a403e1dfc0e1ddd082e4a04225e72dc69169cf')\9;
}
@font-face {
    font-family: 'I-OTF-UD新聞明朝Pro Mp';
    src: url('./cf35d68962dfb2dab6c78a4d0c896b4a1bc1aeb5') format('woff'),
         url('./47a5487167c52d662719ea531485ebb7c31373ae') format('opentype'),
         url('./c239c71ad44fb78a6b5457a66792efe9ef05da99') format('truetype'),
         url('./77476df5868c1a7f5f0fffbd804ce71e7d768cb9#FontPlus') format('svg');
    src: url('./b4bffe21a89c0cf31b05752bf6a66afb07e5b846')\9;
}
/* =========================================== */
