@charset UTF-8;
/* =========================================== */
/* フォント定義 fontplus */
@font-face {
    font-family: 'F+UD-筑紫明朝 E';
    src: url('./ba54a4406a2ae1dedb8eede02c507baebb684a35') format('woff'),
         url('./98cc0ea5cdd2fa3ba7552c79a1ec3ca765c10af5') format('opentype'),
         url('./1ddff4df7ee0d699c1cc1712d9db6ad9f7acfd81') format('truetype'),
         url('./092e15f9a3c4b7007b5197b32b1834f6d64c71d3#FontPlus') format('svg');
    src: url('./415316e5c1278a0c860adbfb1ba483469717e1d3')\9;
}
@font-face {
    font-family: 'FOT-ニューロダン Pro B';
    src: url('./5f849f869b62c2891ff9b957a58a21df415d4bab') format('woff'),
         url('./3dc950241257fc403550dad7fb9d269b1184a3e3') format('opentype'),
         url('./a2819d5266e76eeeedfcb6313abcb82f3765b1e9') format('truetype'),
         url('./f2bf81c5d6fcc085548284523b0afdda0a5d8c02#FontPlus') format('svg');
    src: url('./0b36b6ff40f8ce20c9fa83b476a52351ef26d65d')\9;
}
@font-face {
    font-family: 'I-OTF-UD新聞明朝Pro Mp';
    src: url('./a87888babd3cf18102fc32a7f6ebafc34bb0b620') format('woff'),
         url('./61e0e0e6fb679518f0eae6cd2c81a1e66aca0d1f') format('opentype'),
         url('./fcd05547904b27681dde197ab2fae4e6e76ec71d') format('truetype'),
         url('./e9f0007a03b853a35b1cc12ddaefaae65299f97e#FontPlus') format('svg');
    src: url('./95889018bff78d731bad96dbc3cbd51a4cbe2d5c')\9;
}
/* =========================================== */
