@charset UTF-8;
/* =========================================== */
/* フォント定義 fontplus */
@font-face {
    font-family: 'F+UD-筑紫明朝 E';
    src: url('./ce0938a5173e732fb4680552f90563fbcdf11cd9') format('woff'),
         url('./7dc703fc0f44452d504aae4171983eabe6f5c616') format('opentype'),
         url('./d98207909039f58eafdb34b87609c35ba3c8a973') format('truetype'),
         url('./e7d0519bec71a0e641bb2a6ee908b44a22c2592e#FontPlus') format('svg');
    src: url('./20809a00212cd74fd8605443e50c617cbe39cf27')\9;
}
@font-face {
    font-family: 'FOT-ニューロダン Pro B';
    src: url('./b173afe94df5c45ff9cfae919f8f457904981403') format('woff'),
         url('./b95ad2611637581f2e3fd65c372d4d94cf19f8fa') format('opentype'),
         url('./4d3855eea9f66ed63919ebed204f70a2a9991768') format('truetype'),
         url('./b2fe5dd58107c7c65ad04e82de1dbb390d589692#FontPlus') format('svg');
    src: url('./616e98201d24bdc35edb662ea8ff699e048364b3')\9;
}
@font-face {
    font-family: 'I-OTF-UD新聞明朝Pro Mp';
    src: url('./5ad9f3ae1f89dca7085fecefc2e4266a8601554f') format('woff'),
         url('./7a5cd9cf6ea8709858539da0ad3600885d09f5f1') format('opentype'),
         url('./5918e413e27695333afe1366f99c34faedaeed09') format('truetype'),
         url('./cd7cf7c92a7f5107bb4afd6c17ae0655d94b6038#FontPlus') format('svg');
    src: url('./0ce6bd967424292ebd8042fbe3ccadb632425654')\9;
}
/* =========================================== */
