@charset UTF-8;
/* =========================================== */
/* フォント定義 fontplus */
@font-face {
    font-family: 'F+UD-筑紫明朝 E';
    src: url('./3f83b6755542a66ea2274c1dff46941e47b96d62') format('woff'),
         url('./421090696e2454680f9bf517325eb463c8f199f6') format('opentype'),
         url('./b0638830a5668b13a743bf645bd3f8b69aac7fe0') format('truetype'),
         url('./ca994efe2f407352b9c7530c43122605622cc551#FontPlus') format('svg');
    src: url('./f12de4d37ce43d9e1a4949eb602aa77de497e492')\9;
}
@font-face {
    font-family: 'FOT-ニューロダン Pro B';
    src: url('./a26e21dccbdb8e0ce1e7d574ddae1db60d14ccae') format('woff'),
         url('./2a934c05b663c8100ebc5f0f505e75696a4191ea') format('opentype'),
         url('./44a54fd680a2841479ae0dc4b0c35a1f68f87f6e') format('truetype'),
         url('./9c4bc709b0e0602f3fddbf318dc9717cf8598917#FontPlus') format('svg');
    src: url('./0e9f2bf4465f56f64873f336f694848ef7f1f205')\9;
}
@font-face {
    font-family: 'I-OTF-UD新聞明朝Pro Mp';
    src: url('./ea5a05e62a38f3cdd28974b0733cffab6a86bc6e') format('woff'),
         url('./5f467d2253005d9cdaf75b9e0cb9be7a45bfaa77') format('opentype'),
         url('./15a9653fd46e14050e0e0da6172b35be1e47850a') format('truetype'),
         url('./ca3f9b495ec008cac4af02d0ae3450bfbc793c5d#FontPlus') format('svg');
    src: url('./219cc2a4eb6332e01157272183f31b12af23ee34')\9;
}
/* =========================================== */
