@charset UTF-8;
/* =========================================== */
/* フォント定義 fontplus */
@font-face {
    font-family: 'FOT-ニューロダン Pro B';
    src: url('./7ddc3ad03dabe634782772e072580caf4f9ef408') format('woff'),
         url('./238d191ba83980cc889d24821f8551b1569a2a3f') format('opentype'),
         url('./00f60eeffe2352dbb3fd30d27e36b6eca5392605') format('truetype'),
         url('./58089139d5c4e294e30452bafcdcaf2c2ed7af02#FontPlus') format('svg');
    src: url('./be490953d7dc111deed254386a07ae2555ee2896')\9;
}
@font-face {
    font-family: 'I-OTF-UD新聞明朝Pro Mp';
    src: url('./2e6fb335bba7740f2aa7b8f7bdb0b8f1f4f2bfe3') format('woff'),
         url('./024b754fd4d4dda71af0fb35b7b3aabac4693535') format('opentype'),
         url('./851f5db3415688217bad7cef6df197fb25ebb25c') format('truetype'),
         url('./660200fbeaa00d4484c8abd0da916255738c7bb5#FontPlus') format('svg');
    src: url('./7c6910d1f5863e6cb765f2ce8a1fc7b6b799e5ef')\9;
}
@font-face {
    font-family: 'F+UD-筑紫明朝 E';
    src: url('./c983cab8a05b757c410378cfc400be4b4bd20c63') format('woff'),
         url('./06226e127a0afad1b3b4575584f4e5cc8e9b845b') format('opentype'),
         url('./71a4f9c811fe703e0960e0ae76c836d9c74e6894') format('truetype'),
         url('./1511906c840e68f3ef6890522de59977cde2960d#FontPlus') format('svg');
    src: url('./9d799df849266fa8839b13fd9649dabf76c2fb3d')\9;
}
/* =========================================== */
