html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f2f2e8;
  color: #444135;
  font-size: 100%;
  line-height: 1.8;
}
header {
  display: block;
}
/*
mix ins
*/
.cf::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
.btn {
  display: inline-block;
  font-size: 1.125em;
  background: #e7594f;
  padding: 1.5em;
  text-align: center;
  color: #fff;
  line-height: 1;
  text-decoration: none;
  -webkit-transition: background 0.35s ease-in-out;
  -moz-transition: background 0.35s ease-in-out;
  -ms-transition: background 0.35s ease-in-out;
  -o-transition: background 0.35s ease-in-out;
  transition: background 0.35s ease-in-out;
  -webkit-transition: box-shadow 0.1s;
  -moz-transition: box-shadow 0.1s;
  -ms-transition: box-shadow 0.1s;
  -o-transition: box-shadow 0.1s;
  transition: box-shadow 0.1s;
}
.btn:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  background: #e44439;
}
/*
header
*/
.header_wrapper {
  background: #588d73;
  border-top: 8px solid #5f3527;
  text-align: center;
  /*padding: 6em 0 1em;*/
  position: relative;
  z-index: 2;

}
.header_wrapper h1,
.header_wrapper .sub-title {
  margin: 0;
  position: relative;
  z-index: 0;
}
.header_wrapper .powered_html5j {
  margin: -2.4em 0 0;
}
/*
.header_wrapper::before {
  content: url(../images/header_bg.svg);
  display: block;
  position: absolute;
  z-index: -999;
  margin: auto;
  width: 700px;
  left: 50%;
  top: 0;
  margin-left: -350px;
  border-radius: 30em;
  -webkit-animation: rotations 30s linear infinite;
  -moz-animation: rotations 30s linear infinite;
  -ms-animation: rotations 30s linear infinite;
  -o-animation: rotations 30s linear infinite;
  animation: rotations 30s linear infinite;
}
*/
.header_wrapper .date {
  line-height: 1.4;
  font-weight: bold;
  color: #fff;
  font-size: 250%;
  margin: 0;
  position: relative;
  top: -1.4em;
  left: 0.4em;
}
.header_wrapper .date time {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
}
.header_wrapper .date span {
  font-size: 50%;
}
@-webkit-keyframes rotations {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 359deg);
  }
}
@-moz-keyframes rotations {
  0% {
    -moz-transform: rotate3d(0, 0, 10deg);
  }
  100% {
    -moz-transform: rotate3d(0, 0, 1, 359deg);
  }
}
@-ms-keyframes rotations {
  0% {
    -ms-transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    -ms-transform: rotate3d(0, 0, 1, 359deg);
  }
}
@keyframes rotations {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 359deg);
  }
}
nav {
  background-color: #d5c2a2;
}
nav ul {
  padding: 0;
  margin: 0;
  text-align: center;
}
nav li {
  padding: 0;
  display: inline-block;
}
nav li a {
  padding: 1em 2em;
  color: #5f3a0d;
  display: block;
  text-decoration: none;
  line-height: 1;
  font-weight: bold;
  -webkit-transition: background-color 0.25s, color 0.1s;
  -moz-transition: background-color 0.25s, color 0.1s;
  -ms-transition: background-color 0.25s, color 0.1s;
  -o-transition: background-color 0.25s, color 0.1s;
  transition: background-color 0.25s, color 0.1s;
}
nav li a:hover {
  background-color: #f6cb1a;
  /*color: #fff;*/
}
aside.sns {
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 2em;
}
main {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}
main h1 {
  text-align: center;
}
main section {
  border-bottom: 1px dotted #aaa;
  margin-top: 2em;
  padding-bottom: 2em;
}
main .desctription section {
  border: none;
}
.summary {
  margin-top: 0!important;
  border-bottom: none;
  /*&>h1 {
		margin-top: 0;
	}*/

}
.summary::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
.summary #map {
  width: 65%;
  float: left;
  background-color: #FFF;
  height: 440px;
}
.summary .summary-detail {
  width: 35%;
  height: 440px;
  float: right;
  background-color: #bce0b6;
  /*dl {
			padding: 2em;
			margin: 0;
			text-align: center;
		}
		dt {
			font-weight: bold;
			font-size: 1.6em;
			line-height: 1;
			color: darken(#bce0b6, 30%);
			border: 1px solid rgba(0, 0, 0, .2);
			border-bottom: none;
		}
		dd {
			margin: 0;
			font-size: 4.0em;
			font-weight: bold;
			color: #e7594f;
			border: 1px solid rgba(0, 0, 0, .2);
			border-top: none;
		}*/

}
.summary .summary-detail dl {
  padding: 1em 2em 0;
  margin: 0;
}
.summary .summary-detail dt {
  clear: left;
  float: left;
  padding: 1.9em .8em 0 0;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.3;
}
.summary .summary-detail dd {
  margin: 0;
  font-size: 3.8em;
  font-weight: bold;
  color: #e7594f;
  text-align: right;
  line-height: 1.5;
}
.summary .summary-detail .entry-button-wrapper {
  padding: 0 2em 2em;
}
.summary .summary-detail .entry-button-wrapper a {
  display: inline-block;
  font-size: 1.125em;
  background: #e7594f;
  padding: 1.5em;
  text-align: center;
  color: #fff;
  line-height: 1;
  text-decoration: none;
  -webkit-transition: background 0.35s ease-in-out;
  -moz-transition: background 0.35s ease-in-out;
  -ms-transition: background 0.35s ease-in-out;
  -o-transition: background 0.35s ease-in-out;
  transition: background 0.35s ease-in-out;
  -webkit-transition: box-shadow 0.1s;
  -moz-transition: box-shadow 0.1s;
  -ms-transition: box-shadow 0.1s;
  -o-transition: box-shadow 0.1s;
  transition: box-shadow 0.1s;
  margin: auto;
  display: block;
}
.summary .summary-detail .entry-button-wrapper a:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  background: #e44439;
}
.contents section li {
  margin-bottom: 0.5em;
}
.entry-button-wrapper {
  text-align: center;
  margin: 2em auto 0;
}
.entry-button-wrapper a {
  display: inline-block;
  font-size: 1.125em;
  background: #e7594f;
  padding: 1.5em;
  text-align: center;
  color: #fff;
  line-height: 1;
  text-decoration: none;
  -webkit-transition: background 0.35s ease-in-out;
  -moz-transition: background 0.35s ease-in-out;
  -ms-transition: background 0.35s ease-in-out;
  -o-transition: background 0.35s ease-in-out;
  transition: background 0.35s ease-in-out;
  -webkit-transition: box-shadow 0.1s;
  -moz-transition: box-shadow 0.1s;
  -ms-transition: box-shadow 0.1s;
  -o-transition: box-shadow 0.1s;
  transition: box-shadow 0.1s;
  padding: 1em 5em;
  font-size: 1.6em;
}
.entry-button-wrapper a:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  background: #e44439;
}
.sponsor-list,
.cooperation-list {
  padding: 0;
  text-align: center;
}
.sponsor-list li,
.cooperation-list li {
  margin: 0;
  clear: both;
  text-align: center;
  list-style-type: none;
  display: inline-block;
}
.sponsor-list li a,
.cooperation-list li a {
  display: inline-block;
  margin: 0 20px 20px;
  text-decoration: none;
  width: 300px;
  background-color: #FFF;
}
.sponsor-list li a .sponsor-logo-wrapper,
.cooperation-list li a .sponsor-logo-wrapper,
.sponsor-list li a .cooperation-logo-wrapper,
.cooperation-list li a .cooperation-logo-wrapper {
  width: 300px;
  overflow: hidden;
  /*padding-top: 20px;*/
}
.sponsor-list li a .sponsor-logo-wrapper img,
.cooperation-list li a .sponsor-logo-wrapper img,
.sponsor-list li a .cooperation-logo-wrapper img,
.cooperation-list li a .cooperation-logo-wrapper img {
  display: block;
  margin: auto;
  width: 200px;
}
.host {
  border-bottom: none;
  padding-bottom: 1em;
}
.sponsor-list li a .sponsor-name,
.cooperation-list li a .sponsor-name,
.sponsor-list li a .cooperation-name,
.cooperation-list li a .cooperation-name {
  background-color: #fff;
  border-top: 1px dotted #ccc;
  font-size: 0.8em;
  padding: 2em 0;
  color: #796461;
  text-decoration: none;
}
.host ul {
  padding: 0;
  text-align: center;
}
.host li {
  display: inline-block;
  list-style-type: none;
}
#event {
  /*li:first-of-type .event-details {
		display: block;
		position: absolute;
		left: 50%;
		top: 0;
		width: 800px;
		margin: 0 0 0 -400px;
		border: 10px solid @pink;
		padding: 2em;
		background-color: rgba(255, 255, 255, .95);
		z-index: 20;
		text-align: left;
		dl {
			dd {
				margin: 0;
			}
		}
	}*/

}

/*
#event li {
  list-style-type: none;
  width: 300px;
  display: inline-block;
  margin: 0 20px 20px;
}
#event li a {
  text-decoration: none;
  width: 300px;
  display: block;
  background-color: #FFF;
}
#event li .event-logo-wrapper,
#event li .cooperation-logo-wrapper {
  width: 300px;
  height: 300px;
  overflow: hidden;
  background-color: #fff;
}
#event li .event-details {
  display: none;
}
#event li .event-name {
  background-color: #fff;
  border-top: 1px dotted #ccc;
  font-size: 0.8em;
  padding: 2em 0;
  color: #796461;
  text-decoration: none;
}*/

.staff {
  /*width: 1100px;*/
  margin: auto;
}
.staff ul {
  margin: 0;
  padding: 0;
}
.staff li {
  margin-bottom: 40px;
  list-style-type: none;
  display: inline-block;
  margin: 0 0.3em;
}
.staff li .staff-logo-wrapper {
  float: left;
  width: 130px;
  text-align: center;
}
.staff li .staff-info {
  float: right;
  width: 970px;
}
.staff li .staff-info .staff-name {
  font-weight: bold;
}
.staff li .staff-info .staff-role,
.staff li .staff-info .staff-description {
  margin: 0.2em 0 0;
  font-size: 0.85em;
  padding: 0;
}
.staff li .staff-logo {
  width: 110px;
  border: 8px solid rgba(0, 0, 0, 0.05);
}
.copyright {
  background-color: #281f21;
}
.copyright small {
  text-align: center;
  display: block;
  color: #FFF;
  padding: 4em 0;
  color: #999;
  font-size: 70%;
}
.copyright small img {
  display: block;
  opacity: 0.3;
  margin: 0 auto 1em;
}
.location {
  display: none;
}

#socialButtons {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#socialButtons li {
  margin: 0;
  padding: 0 0 1em 0;
  display: inline-block;
  max-width: 90px;
}
.fb_iframe_widget span {
  vertical-align: top !important;
}
.html5j-message {
  padding: 1em;
  border: 1px solid #e7594f;
  border-radius: 1em;
  background: #fff;
}
.join-as-an-organizer h1 {
  text-align: left;
  text-indent: 1em;
  font-size: 1.2em;
}
.map-info {
  font-size: 0.8em;
}
.map-info .map-logo {
  width: 120px;
  float: left;
  margin-right: 1em;
}
.map-info .map-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 1em 0;
}
.map-info .map-link {
  text-align: right;
}
.map-info .map-link a {
  text-decoration: none;
  color: blue;
}
#how-to-join > section {
  padding-left: 1em;
  border-bottom: none;
}
#how-to-join > section > h1 {
  font-size: 1.5em;
  text-align: left;
}
.report img {
  width: 100%;
}
.report figure {
  margin-bottom: 1em;
}
.report ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.report ul li {
  margin: 0;
  padding-left: 1em;
}
.report dl dt {
  font-weight: bold;
}
.report .report-images {
  overflow: hidden;
  margin-bottom: 1em;
}
.report .report-images li {
  text-align: center;
  width: 25%;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
}
@media only screen and (max-width: 601px) {
  .btn {
    line-height: 1.4;
  }
  .header_wrapper {
    width: auto;
    overflow: hidden;
  }
  .header_wrapper h1 img {
    max-width: 95%;
  }
  .header_wrapper .sub-title img {
    max-width: 80%;
  }
  .header_wrapper .date {
    font-size: 160%;
  }
  .header_wrapper .date time {
    font-size: 160%;
    display: block;
  }
  .header_wrapper .powered_html5j img {
    max-width: 40%;
  }
  .join-as-an-organizer h1 {
    text-indent: 0;
    text-align: center;
  }
  .gnav li {
    display: block;
  }
  .gnav li a {
    display: block;
    border-bottom: 1px solid #e7594f;
  }
  main {
    width: auto;
    padding: 0 1em;
  }
  main h1 {
    font-size: 120%;
  }
  main section {
    margin-bottom: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
  }
  main .entry-button-wrapper {
    margin-top: 0;
  }
  main .entry-button-wrapper a {
    display: block;
    font-size: 100%;
    line-height: 1.4;
  }
  main .join-as-an-organizer {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  main #how-to-join {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .summary .summary-detail {
    float: none;
    width: 100%;
    height: auto;
  }
  .summary .summary-detail dl {
    margin-bottom: 1em;
  }
  .summary .summary-detail dt {
    font-size: 100%;
    padding: .4em 0 0;
  }
  .summary .summary-detail dd {
    font-size: 140%;
    padding: 0;
  }
/*  #event ul {
    margin-top: 0;
  }
  #event li {
    width: 100%;
    display: block;
    margin: 0 auto 1em;
  }
  #event li a {
    width: auto;
  }
  #event li a .event-logo-wrapper {
    width: auto;
  }
  #event li a .event-logo-wrapper img {
    max-width: 100%;
  }
  #event li a .event-logo-wrapper > div {
    width: auto;
  }*/
  .cooperation-list,
  .sponsor-list {
    margin: auto;
    padding: 0;
  }
  .cooperation-list li,
  .sponsor-list li {
    width: 100%;
    display: block;
    margin: 0 auto 1em;
  }
  .cooperation-list li a,
  .sponsor-list li a {
    display: block;
    margin: 0;
    width: auto;
  }
  .cooperation-list li a .cooperation-logo-wrapper,
  .sponsor-list li a .cooperation-logo-wrapper,
  .cooperation-list li a .sponsor-logo-wrapper,
  .sponsor-list li a .sponsor-logo-wrapper {
    width: auto;
    height: auto;
  }
  .cooperation-list li a .cooperation-logo-wrapper img,
  .sponsor-list li a .cooperation-logo-wrapper img,
  .cooperation-list li a .sponsor-logo-wrapper img,
  .sponsor-list li a .sponsor-logo-wrapper img {
    max-width: 100%;
  }
  #map {
    display: none;
  }
  /*#staff_list {
    width: auto;
  }
  #staff_list li {
    margin-bottom: 3em;
  }
  #staff_list li .staff-logo-wrapper {
    width: auto;
    float: none;
    width: 100px;
    height: 100px;
    margin: auto;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    overflow: hidden;
    border: 8px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px #ffffff, 0 -1px 2px rgba(0, 0, 0, 0.5);
  }
  #staff_list li .staff-logo-wrapper .staff-logo {
    position: relative;
    left: -10px;
    top: -10px;
    -webkit-border-radius: 0;
    border-radius: 0;
    width: 110px;
    height: 110px;
  }
  #staff_list li .staff-info {
    width: auto;
    float: none;
  }
  #staff_list li .staff-info .staff-name {
    text-align: center;
  }
  #staff_list li .staff-info .staff-role {
    text-align: center;
    margin-top: 0;
    font-size: 0.7em;
  }
  #staff_list li .staff-info .staff-description {
    margin-top: 0;
  }
  #staff_list li .staff-info .staff-description p {
    margin-top: 0;
  }
  #staff_list li .staff-info iframe {
    margin: auto;
    display: block;
  }*/
  aside.sns {
    width: 100%;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 1em;
  }
  .copyright small img {
    max-width: 40%;
  }
  #how-to-join > section {
    padding-left: 0;
    border-bottom: none;
  }
  #how-to-join > section > h1 {
    font-size: 1em;
    text-align: left;
  }
  #zoom-box {
    padding: 2em 1em 1em;
  }
  .report img {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
  .report .report-images {
    overflow: hidden;
    margin-bottom: 1em;
  }
  .report .report-images li {
    text-align: center;
    float: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
  }
}
.event {
  position: relative;
}

.logo {
  max-width: 100%;
}
.staff-list a {
  text-decoration: none;
}
.twitter-name {
  position: relative;
  top: -3.4em;
  font-size: 0.8em;
  color: white;
  padding: 0.2em 0.5em;
  background: rgba(0,0,0,0.5);
}

#event ul {
  padding: 0;
  /*text-align: center;*/
  /*margin-top: 2em;*/
  position: relative;
  overflow: hidden;
  padding: 0.4em;
}
#event li {
  list-style-type: none;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  /*float: left;
  width: 48%;*/
  padding: 0.8em 0;
  margin: 0;
}

.event {
  font-size: 0.9em;
}

.event .inner-block {
  padding-left: 136px;
}
.event-list p {
  margin: 0.4em 0;
  line-height: 1.6;
}
.event-list a {
  text-decoration: none;
}
.event-logo {
  width: 120px;
  float: left;
  margin: 0 1em 0 0;
}
.event-title {
  font-size: 1.1em;
  font-weight: bold;
}
.event-summary {
  margin: 0;
}
.event-summary dt, .event-summary dd {
  display: inline;
  margin: 0;
}
.event-summary dt::before {
  content: ' | ';
  /*margin-left: 1em;*/
}
.event-summary dt:first-child::before {
  content: '';
  /*margin-left: 0;*/
}

.region {
  border-bottom: none;
}
.region h2 {
  border-bottom: 1px solid #ddd;
  margin: 0.8em 0 0.4em;
}

/*秋葉追加*/

.gnav a {
  font-family: "I-OTF-UD新聞明朝Pro Mp";
}

.header_wrapper {
  padding-top: 80px;
  border-top: none;
  background: url(../images/mainimage_light.png) center -60px no-repeat,
  url(../images/mainimage_flag.png) center 20px no-repeat #588d73;
}

.header_wrapper .powered_html5j {
  margin-top: 0;
}
.h_group {
}

.header_wrapper .date {
  top: 0;
}
.header_wrapper .date time {
  font-family: 'Anton', sans-serif;
  text-shadow: 0 0 10px #fff, 0 0 10px #fff;
  color: #c1272d;
}
.header_wrapper .date span {
  font-size: 80%;
}

.subcatch {
  margin: 0;
  position: relative;
}
.subcatch p {
  margin: 0;
  line-height: 1.2;
  display: block;
  margin: auto;
}
.subcatch .dodon {
  line-height: 1;
  letter-spacing: .1em;
  font-family: "F+UD-筑紫明朝 E";
  color: #EDC32B;
  text-shadow: 0 0 5px #512812, 0 0 10px #512812, 0 0 10px #512812;
  text-align: center;
  font-size: 70px;
}

.subcatch .dodon em {
  font-size: 100px;
  font-style: normal;
}

.subcatch .all_japan {
  letter-spacing: .1em;
  font-family: "FOT-ニューロダン Pro B";
  color: #c1272d;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 10px #fff;
  text-align: center;
  font-size: 70px;
}

.subcatch .all_japan em {
  font-size: 100px;
  font-style: normal;
}

.catch {
  font-size: 1.5em;
  text-align: center;
  margin-top: 0;
  color: #5f3a0d;
}

.mobile-link {
  display: none;
}

/*
 Google Mapsを埋め込むまでの一時的対応
*/

.summary .summary-detail {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  height: auto;
  box-sizing: border-box;
  float: none;
  border: 2em solid #a5d096;
}
.summary .summary-detail dt, .summary .summary-detail dd {
  /*float: none;*/
}

/*
 Google Mapsを埋め込むまでの一時的対応　ここまで
*/

@media only screen and (max-width: 601px) {
  .header_wrapper {
    -webkit-background-size: cover;
    background-size: cover;
  }
  .subcatch .dodon {
    font-size: 1.5em;
  }
  .h_group h1 {
    margin: 0;
    font-size: 100%;
  }
  .h_group h1 img {
    vertical-align: bottom;
  }
  .summary .summary-detail {
    padding-top: 1em;
  }
  .summary .summary-detail dl {
    text-align: center;
    margin: 0;
    padding-top: 0;
  }
  .summary-detail dl > * {
    display: inline;
  }
  .summary .summary-detail dt {
    float: none;
    clear: none;
  }
  .mobile-link {
    margin-top: 1em;
    text-align: center;
    text-decoration: none
  }
  .subcatch .dodon em {
    font-size: 1.7em;
    font-style: normal;
  }
  .subcatch .all_japan {
    font-size: 1.6em;
    line-height: 1.4;
  }
  .subcatch .all_japan em {
    font-size: 1.8em;
    font-style: normal;
  }
  .event .inner-block {
    padding-left: 0; 
    display: inline;
  }
  .catch {
    font-size: 1em;
  }
  .mobile-link {
    display: block;
  }
  .summary .summary-detail {
    border: none;
  }
  .summary .summary-detail dd {
    font-size: 200%;
    font-family: 'Anton', sans-serif;
  }
  .event-list p {
    margin: 0.4em 0 0.8em;
  }
  #how-to-join ul {
    padding-left: 1em;
  }
  #how-to-join ul li h2 {
    font-size: 100%;
    margin: 0;
  }
  #how-to-join ul li p {
    margin-top: 0;
  }
  #event h1 {
    font-size: 120%;
  }
  #event ul {
    margin-top: 0;
    padding-top: 0;
  }
  #event ul li {
    padding-top: 0;
    padding-bottom: 0;
  }
    #event ul li:last-of-type {
      border: none;
    }
  .region {
    margin-top: 0;
    margin-bottom: .5em;
    padding-bottom: .5em;
  }
  .region h2 {
    font-size: 100%;
    margin-top: 0;
    border-bottom-width: 3px;
  }
  .staff ul {
    text-align: center;
  }
  .entry-button-wrapper a {
    padding: 1em 0;
    font-weight: bold;
    border: 4px solid #ba443a;
    font-size: 1.2em;
  }
  .summary .summary-detail .entry-button-wrapper {
    padding: 0;
    padding-bottom: 10px;
  }
  .summary .summary-detail .entry-button-wrapper a {
    padding: 1em;
    font-size: 1.2em;
    font-weight: bold;
    border: 4px solid #ba443a;
    margin: 0 10px;
  }
}










